/* Basic Content Syling */
.inset, .outset {
  padding-top: 100px;
  padding-bottom: 100px;
}

.inset {
  background-color: $white;
}
.outset {
  background-color: $very-light-grey;
}
h2 {
  font-family: $Serif;
  color: $font-color;
  font-size: 2em;
}
h3 {
  font-family: $Serif;
  color: $font-color;
  padding-top: 25px;
}
p {
  font-family: $paragraph;
  font-size: 18px;
  font-weight: 300;
  color: $font-color;
  line-height: 34px;
  padding-top: 25px;
}

@media screen and (max-width: 800px){
  .inset, .outset  {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
