/* Home Page */

/* Home Header */
.header-img {
  background: url("http://jameswmoody.com/images/jwm1.2.jpg") no-repeat center center;
}

/* Recent */
.recent-project-thumbnail {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
}

/* Instagram Widget */
.lightwidget-widget {
  padding-top: 25px;
}

/* Bragsheet */
.bragsheet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
.logos {
  width: 130px;
  margin: auto;
}
.braintree {
  padding-top: 40px;
}
.cumulus {
  padding-top: 10px;
}
.apple {
  width: 100px;
}
.loop {
  padding-top: 70px;
}
.espn {
  padding-top: 90px;
}
.colum {
  padding-top: 90px;
}
.wkqx {
  padding-top: 30px;
}
.catalytic {
  padding-top: 35px;
}

/* Email Form */
.contact-header {
  padding-bottom: 25px;
}
.form-control {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  font-family: $Serif;
  font-size: 14px;
}

/* Mobile */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 374px)
  and (orientation : portrait) {
    .logos {
      width: 80px;
    }
    .cumulus {
      padding-top: 20px;
    }
    .espn {
      padding-top: 70px;
    }
    .colum {
      padding-top: 70px;
    }
    .catalytic {
      padding-top: 30px;
    }
}
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 414px)
  and (orientation : portrait) {
    .apple {
      width: 80px;
      margin-left: 30px;
    }
    .espn {
      padding-top: 70px;
    }
    .colum {
      padding-top: 70px;
    }
    .cumulus {
      padding-top: 20px;
    }
    .wkqx, .loop, .espn, .colum, .cumulus {
      width: 100px;
      // margin-left: 20px;
    }
}
