/* Home Page */

/* Home Header */
.header-img {
  background: url("http://jameswmoody.com/images/jwm1.jpg") no-repeat center center;
}

/* Recent */
.recent-project-thumbnail {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
}

/* Instagram Widget */
.lightwidget-widget {
  padding-top: 25px;
}

/* Bragsheet */
.bragsheet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
.logos {
  width: 100px;
}
.braintree {
  padding-top: 50px;
}
.cumulus {
  padding-top: 25px;
}
.loop {
  padding-top: 30px;
}
.espn {
  padding-top: 70px;
}
.colum {
  padding-top: 70px;
}
.wkqx {
  padding-top: 30px;
}

/* Email Form */
.contact-header {
  padding-bottom: 25px;
}
.form-control {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  font-family: $Serif;
  font-size: 14px;
}
