/* Home Page */
/* Instagram Widget */
.lightwidget-widget {
  padding-top: 25px;
}

/* Bragsheet */
.bragsheet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
.logos {
  width: 100px;
}
.braintree {
  padding-top: 50px;
}
.cumulus {
  padding-top: 25px;
}
.loop {
  padding-top: 30px;
}
.espn {
  padding-top: 70px;
}
.colum {
  padding-top: 70px;
}
.wkqx {
  padding-top: 30px;
}

/* Email Form */
.contact-header {
  padding-bottom: 25px;
}
.form-control {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  font-family: $Serif;
  font-size: 14px;
}
.btn-success {
  color: $white;
  background-color: $success;
  border: solid 4px $success;
  border-radius: 5px;
  font-family: $Serif;
  margin: 0 auto;
  width: 200px;
  box-shadow: inset 0 0 0 0 $very-light-grey;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  transition: all ease 0.2s;
  &:hover {
    box-shadow: inset 200px 0 0 0 $very-light-grey;
    color: $success;
    background-color: $very-light-grey;
    border: solid 4px $success;
  }
}
