/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url('https://fonts.googleapis.com/css?family=Arvo|Droid+Sans:400,700');

$Brand: 'Muli', sans-serif;
$Header: 'Droid Sans', sans-serif;
$Serif: 'Arvo', serif;
$paragraph: 'Droid Sans', sans-serif;
