/* WebDev Page */
.portfolio {
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin-bottom: -2px;
}
.webdev-img {
  background: url(http://jameswmoody.com/images/webdev.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.thumbnail:hover .portfolio-img {
  @include prefix(filter, grayscale(100%) contrast(10%), webkit ms moz o);
  @include prefix(transition,  all .3s ease-in-out, webkit ms moz o);
}
.thumbnail {
  width: 100%;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  @include prefix(transition, all .2s ease-in-out, webkit ms moz o);
  p {
    padding-top: 0;
  }
}
.project-header {
  font-size: 2em;
  color: $white;
}
span.text-content {
  display: inline-block;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 0;
  color: $white;
  opacity: 0;
}
span.project-description {
  font-size: 1em;
  line-height: 30px;
  padding-top: 60px;
}
.thumbnail:hover span.text-content {
  opacity: 1;
}
