/* WebDev Page */
.portfolio {
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin-bottom: -2px;
}
.webdev-img {
  background: url(http://jameswmoody.com/images/webdev.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.thumbnail:hover .portfolio-img {
  @include prefix(filter, grayscale(100%) contrast(20%), webkit ms moz o);
  @include prefix(transition,  all .3s ease-in-out, webkit ms moz o);
}
.thumbnail {
  // height: 250px;
  width: 100%;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  @include prefix(transition, all .2s ease-in-out, webkit ms moz o);
}
.project-header {
  color: $white;
}
span.text-content {
  padding: 10px;
  position: absolute;
  top: 80px;
  left: 0;
  color: $white;
  opacity: 0;
  p {
       color: $white;
    }
}
.thumbnail:hover span.text-content {
  opacity: 1;
}
