/* Browser Prefixes */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Arvo|Droid+Sans:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts */
.btn {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: #02B2E4;
  border: solid 2px #02B2E4;
  width: 200px;
  font-family: "Arvo", serif;
  box-shadow: inset 0 0 0 0 #02B2E4;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
  transition: all ease 0.2s; }
  .btn:focus {
    color: #02B2E4;
    outline: none; }
  .btn:hover {
    box-shadow: inset 200px 0 0 0 #02B2E4;
    color: #fff;
    background-color: #02B2E4; }

@media screen and (max-width: 800px) {
  .btn {
    background-color: #02B2E4;
    color: #fff; } }
/* Navbar */
.navbar-default {
  background-color: transparent;
  transition: border-color 0s;
  transition: 0.5s;
  font-family: "Muli", sans-serif;
  font-size: 11px;
  border: none;
  border-color: rgba(0, 0, 0, 0); }

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  letter-spacing: 1px; }

.navbar-brand {
  padding-top: 15px; }

.navbar-nav > li > a {
  height: 50px;
  padding-bottom: 5px; }

.border-one:hover {
  border-bottom: solid #B98D76; }

.border-two:hover {
  border-bottom: solid #EBD695; }

.border-three:hover {
  border-bottom: solid #C2DDBC; }

.border-four:hover {
  border-bottom: solid #3285A7; }

.border-five:hover {
  border-bottom: solid #406244; }

.navbar-toggle {
  margin-top: 10px;
  border: none; }

.nav-link-dropdown {
  margin-right: 15px; }

.dropdown-menu {
  margin-right: 15px;
  min-width: 95px;
  border: none;
  border-radius: 0; }
  .dropdown-menu li > a {
    padding: 3px 15px; }

.dropdown-header {
  padding: 3px 15px; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: rgba(231, 231, 231, 0.5); }

.dark-nav-button {
  background-color: #444 !important; }

.white-nav-button {
  background-color: #fff !important; }

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 100%; }

  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand:hover {
    color: #fff; }

  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover {
    color: #1A1A1A !important;
    text-align: center; }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none; }

  .nav-link {
    color: #6E6F73; }

  .navbar-collapse {
    background-color: rgba(231, 231, 231, 0.9); } }
/* Basic Content Syling */
.inset, .outset {
  padding-top: 100px;
  padding-bottom: 100px; }

.inset {
  background-color: #fff; }

.outset {
  background-color: #ECECEC; }

h2 {
  font-family: "Arvo", serif;
  color: #515151;
  font-size: 2em; }

h3 {
  font-family: "Arvo", serif;
  color: #515151;
  padding-top: 25px; }

p {
  font-family: "Droid Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #515151;
  line-height: 34px;
  padding-top: 25px; }

@media screen and (max-width: 800px) {
  .inset, .outset {
    padding-top: 40px;
    padding-bottom: 40px; } }
/* Home Page */
/* Home Header */
.header-img {
  background: url("http://jameswmoody.com/images/jwm1.2.jpg") no-repeat center center; }

/* Recent */
.recent-project-thumbnail {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%; }

/* Instagram Widget */
.lightwidget-widget {
  padding-top: 25px; }

/* Bragsheet */
.bragsheet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px; }

.logos {
  width: 130px;
  margin: auto; }

.braintree {
  padding-top: 40px; }

.cumulus {
  padding-top: 10px; }

.apple {
  width: 100px; }

.loop {
  padding-top: 70px; }

.espn {
  padding-top: 90px; }

.colum {
  padding-top: 90px; }

.wkqx {
  padding-top: 30px; }

.catalytic {
  padding-top: 20px; }

/* Email Form */
.contact-header {
  padding-bottom: 25px; }

.form-control {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  font-family: "Arvo", serif;
  font-size: 14px; }

/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) and (orientation: portrait) {
  .logos {
    width: 80px; }

  .cumulus {
    padding-top: 20px; }

  .espn {
    padding-top: 70px; }

  .colum {
    padding-top: 70px; }

  .catalytic {
    padding-top: 30px; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 414px) and (orientation: portrait) {
  .apple {
    width: 80px; }

  .espn {
    padding-top: 70px; }

  .colum {
    padding-top: 70px; } }
/* WebDev Page */
.portfolio {
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin-bottom: -2px; }

.webdev-img {
  background: url(http://jameswmoody.com/images/webdev.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.thumbnail:hover .portfolio-img {
  -webkit-filter: grayscale(100%) contrast(10%);
  -ms-filter: grayscale(100%) contrast(10%);
  -moz-filter: grayscale(100%) contrast(10%);
  -o-filter: grayscale(100%) contrast(10%);
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.thumbnail {
  width: 100%;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  .thumbnail p {
    padding-top: 0; }

.project-header {
  font-size: 2em;
  color: #fff; }

span.text-content {
  display: inline-block;
  width: 100%;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 0;
  color: #fff;
  opacity: 0; }

span.project-description {
  font-size: 1em;
  line-height: 30px;
  padding-top: 60px; }

.thumbnail:hover span.text-content {
  opacity: 1; }

/* Voice Page */
.voice-img {
  background: url("http://jameswmoody.com/images/voice.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.voice-container {
  padding: 0px; }

.voice-text-box {
  padding: 40px; }

.voice-pic-box {
  padding: 0; }

.voice-pic {
  display: block;
  width: 100%; }

.voice-header, .voice-text {
  text-align: center;
  position: absolute;
  width: 100%;
  color: #fff;
  text-shadow: #1A1A1A 0 1px 1px;
  z-index: 1; }

.voice-header {
  font-size: 4em;
  margin: 50px; }

.voice-text {
  padding: 50px;
  font-size: 1.5em; }

.client-list {
  padding-top: 25px;
  padding-left: 100px;
  display: inline-block; }
  .client-list li {
    font-family: "Droid Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #515151;
    list-style-type: circle; }

/* AudioJS Player */
.player-container {
  background: url("../images/voice-imgs/voice5.jpg") no-repeat fixed center; }

.player-header {
  color: #fff;
  padding: 14px 0 12px;
  margin: 0; }

#player-header em {
  font-style: normal;
  color: #999; }

#wrapper {
  width: 460px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.5); }

ol {
  padding: 0;
  margin: 0;
  list-style: decimal-leading-zero inside;
  color: #000;
  width: 460px;
  border-top: 1px solid #ccc;
  font-size: 0.9em; }

ol li {
  position: relative;
  margin: 0;
  padding: 9px 2px 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer; }

ol li a {
  display: block;
  text-indent: -3.3ex;
  padding: 0 0 0 20px; }

li.playing {
  color: #000;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }

li.playing a {
  color: #000; }

li.playing:before {
  width: 14px;
  height: 14px;
  padding: 3px;
  line-height: 14px;
  margin: 0;
  position: absolute;
  left: -24px;
  top: 9px;
  color: #000;
  font-size: 13px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 800px) {
  .voice-text-box {
    padding: 20px; }

  .voice-text {
    top: 65%;
    padding: 20px;
    font-size: 1.4em; }

  #wrapper {
    width: 340px; }

  .audiojs {
    width: 340px; }

  ol {
    width: 340px; } }
@media screen and (max-width: 325px) {
  #wrapper {
    width: 275px; }

  .audiojs {
    width: 40px; }

  ol {
    width: 275px; } }
.audiojs .play, .audiojs .loading, .audiojs .error, .audiojs .pause {
  background-image: url(../../javascript/audiojs/player-graphics.gif);
  -webkit-background-size: 30px 120px;
  -ms-background-size: 30px 120px;
  -moz-background-size: 30px 120px;
  -o-background-size: 30px 120px; }

.audiojs .play-pause {
  width: 40px; }

.player {
  padding-left: 0;
  padding-right: 0; }

/* Travel Page */
.travel-img {
  background: url("http://jameswmoody.com/images/travel.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.travel-cell {
  padding: 0;
  margin-bottom: -2px;
  background-color: #444; }

.country-header {
  font-size: 2.5em; }

.travel-thumbnail, .intl-travel-thumbnail {
  margin: 0;
  width: 100%;
  transition: filter 0.2s ease-in-out;
  display: block; }

.city-name, .country-name {
  text-align: center;
  position: absolute;
  top: 38%;
  width: 100%;
  color: #fff;
  text-shadow: #1A1A1A 0 1px 1px;
  z-index: 1; }

.city-name {
  font-size: 4em;
  opacity: 0;
  transition: opacity 0.2s ease-out; }

.country-name {
  font-size: 7em;
  opacity: 0;
  transition: opacity 0.2s ease-out; }

.travel-cell:hover .travel-thumbnail {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  transition: 0.2s; }

.travel-cell:hover .intl-travel-thumbnail {
  -webkit-filter: blur(4.5px);
  filter: blur(4.5px);
  transition: 0.2s; }

.travel-cell:hover .city-name {
  opacity: 1;
  transition: opacity 0.2s ease-in; }

.travel-cell:hover .country-name {
  opacity: 1;
  transition: opacity 0.2s ease-in; }

/* Google Map */
#map {
  padding-left: 0;
  padding-right: 0;
  height: 400px;
  width: 100%; }

/* Mobile Travel Page Styling */
@media only screen and (min-device-width: 350px) and (max-device-width: 1024px) {
  .city-name, .country-name {
    font-size: 2.5em;
    opacity: 1;
    -webkit-text-stroke-width: .35px;
    -webkit-text-stroke-color: black; }

  .country-header {
    font-size: 2em; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 349px) {
  .city-name, .country-name {
    font-size: 2em;
    opacity: 1;
    -webkit-text-stroke-width: .35px;
    -webkit-text-stroke-color: black; }

  .country-header {
    font-size: 2em;
    opacity: 1;
    -webkit-text-stroke-width: .35px;
    -webkit-text-stroke-color: black; } }
/* Photo Gallery */
.gallery {
  margin: auto;
  width: 100%;
  padding-bottom: 50px; }

.gallery-thumbnail {
  height: 100px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 10px 10px 50px #000; }

.rotate {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg); }

/* Headers */
.header-tag {
  vertical-align: middle;
  padding: 0;
  padding-top: 42vh;
  text-shadow: #1A1A1A 0 1px 1px;
  background: transparent;
  text-align: center;
  color: #fff;
  font-family: "Arvo", serif;
  font-size: 30px;
  margin: 15px; }

cite {
  float: right;
  margin-right: 10%;
  color: #fff;
  text-shadow: #1A1A1A 0 1px 1px;
  font-family: "Muli", sans-serif; }

/* Page Headers */
.headline {
  vertical-align: middle;
  padding-top: 40vh;
  text-shadow: #1A1A1A 0 1px 1px;
  background: transparent;
  text-align: center;
  color: #fff;
  font-family: "Droid Sans", sans-serif;
  font-size: 5em; }

/* Change headline font size on Mobile */
@media screen and (max-width: 800px) {
  .headline {
    font-size: 3em; } }
/* Header Fonts */
h1 {
  font-family: "Arvo", serif;
  font-size: 2.5em;
  color: #515151;
  padding: 8px; }

h2 {
  font-size: 2.5em; }

/* Parallax */
.parallax {
  height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed; }

/* Disable Parallax on Mobile */
@media screen and (max-width: 800px) {
  .parallax {
    background-attachment: scroll; } }
/* Footer */
footer {
  background-color: #1A1A1A;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 15px; }
  footer p {
    line-height: 14px; }
  footer h3 {
    text-align: center;
    color: #fff; }

.copyright {
  font-family: "Muli", sans-serif;
  font-size: 12px;
  color: #B8B8BA;
  padding-top: 0; }

i {
  padding: 20px;
  color: #fff; }

/* Override for Bootstrap row margin */
.row {
  margin-right: 0;
  margin-left: 0; }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: 0; } }

/*# sourceMappingURL=main.css.map */
