// Global Colors
$white: #fff;
$black: #000;

$dark-grey: #444;
$very-dark-grey: #1A1A1A;
$light-grey: #CBCBCB;
$very-light-grey: #ECECEC;

$font-color: #6E6F73;

$global-color-one: #B98D76;
$global-color-two: #EBD695;
$global-color-three: #C2DDBC;
$global-color-four: #3285A7;
$global-color-five: #406244;

$success: #5cb85c;
