<h1>Welcome to My Blog</h1>

<center><span><%= link_to 'Archives', controller: 'articles' %></span></center>

<img class="welcome-img" src="http://jameswmoody.com/images/blog-photo.jpg">
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center><h2>Hi there!</h2></center>
      <br>
      <p id="description">This is a test web application that has been built out as a mock personal blog. It'll include a few real photos and information but don't expect too many updates since it is, after all, just a test app. It's also completely open source so check out my repository at <a herf="https://github.com/jameswmoody/blog">https://github.com/jameswmoody/blog</a>. Thanks for looking!</p>
      <br><br>
    </div>
    <div class="col-md-12 content">
      <br><h3>Recent Post</h3><br>
      <p>Coming soon!</p>
      <br>
    </div>
    </div><br><br>
  </div>
</div>
