@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Lato');
.row {
  margin: 0;
}


/* Fonts */

h1 {
  font-family: 'Cinzel', serif;
  font-size: 50px;
}

h3 {
  font-family: 'Cinzel', serif;
  margin-top: 60px;
  margin-bottom: 30px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}


/* Navbar */

.navbar-default {
  background-color: transparent;
  border: none;
  transition: 0.5s;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  transition: color 0.4s;
}

.navbar-default .navbar-nav>li>a:visited {
  color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
}

.navbar-default .navbar-brand {
  /*margin-left: 25%;*/
  font-family: 'Cinzel', serif;
  font-size: 14px;
  color: transparent;
  margin-top: 5px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggle {
  margin-top: 10px;
}

.nav-link-dropdown {
  margin-right: 15px;
}

.dropdown-menu {
  margin-right: 15px;
  min-width: 107px;
  border: none;
}


/* Header */

.header-img {
  float: right;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.headline {
  position: absolute;
  top: 40vh;
  left: 15vw;
  text-align: center;
  margin-bottom: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #65B0ED;
  margin: auto;
  margin-bottom: 16px;
  padding: 0;
  align-content: center;
}

.sub-header {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

.divider {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}


/* Sections */

.sections {
  padding-bottom: 60px;
}

.description {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  letter-spacing: normal;
  margin-left: 40px;
}

#awards-honors {
  background: url("images/background.png") no-repeat fixed center;
  background-size: 100vw;
}

.cv-screenshot {
  width: 30%;
  margin-bottom: 20px;
  border-color: #E3E3E3;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}


/*#contact {
  background: url("images/background2.png") no-repeat fixed center;
  background-size: cover;
}*/

.inset {
  background-color: #F2F2F2;
  width: 100%;
}


/* Forms */

.contact-form {
  height: 70vh;
  text-align: center;
}

label {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

.form-control {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

.btn-primary, .btn-primary:visited, .btn-primary:active, .btn-primary:focus, .btn-primary:target, .btn-primary:active:focus {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  background-color: transparent;
  border: 2px solid #65B0ED;
  color: #65B0ED;
  outline: none !important;
}

.btn-primary:hover {
  color: white;
  background-color: #65B0ED;
  border: 2px solid #65B0ED;
  transition: 0.2s;
}


/* Footer */

.footer {
  background-color: #171717;
  text-align: center;
}

.footer p {
  color: white;
  font-size: 11px;
  margin-bottom: 20px;
}


/* Mobile */


/* Smartphone */

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
  }
  #navbar-collapse-1 {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .headline {
    position: absolute;
    top: 55vh;
    left: 0;
    text-align: center;
  }
  h1 {
    color: white;
    font-size: 40px;
  }
  .sub-header {
    color: white;
    font-size: 14px;
  }
  .nav-link-dropdown {
    color: black;
  }
  #awards-honors {
    background-size: 150vw;
  }
}


/* Smartphone with Landscape Orientation */

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
  .headline {
    position: absolute;
    top: 35vh;
    left: 15px;
    text-align: center;
  }
  h1 {
    color: #333;
    font-size: 35px;
  }
  .sub-header {
    color: #333;
    font-size: 12px;
  }
}


/* Tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .headline {
    position: absolute;
    top: 70vh;
    left: 18vh;
    color: white;
  }
  h1 {
    font-size: 40px;
  }
  .navbar-default {
    background-color: black !important;
  }
  .nav-link {
    color: white !important;
  }
  .header-img {
    float: right;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .headline {
    position: absolute;
    top: 70vh;
    left: 23vh;
  }
}


/* Tablet with Landscape Orientation */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .headline {
    position: absolute;
    top: 45vh;
    left: 30px;
    text-align: center;
    color: #777;
  }
}


/* Desktop Only */

@media only screen and (min-device-width: 737px) {
  .navbar-brand {
    display: none;
  }
  .nav-link-dropdown {
    color: white !important;
  }
}
